@import './base.css';
body{
  position: relative;
  height: 100svh;
}
#app {
  width: 100%;
  height: 100svh;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 10px 0;
}
.header{
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.back_text{
  color: var(--red);
}
.auth_link_span{
  color: var(--red);
  padding-bottom: 2px;
  border-bottom: 3px solid grey;
  font-weight: bold;
}
.cancel-button{
  padding: 10px 20px;
  color: var(--grey);
  background-color: var(--white);
  border: 2px solid var(--grey);
}
.box{
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 20px;
  background-color: var(--white);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    position: relative;
    height: 100%;
  }
}
